<div class="nav-menu">
    <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
        <i class="icon-home"></i>
        Home
    </NavLink>
    
    <NavLink class="nav-item" href="mywork">
        <i class="icon-briefcase"></i>
        My Work
    </NavLink>
    
    <NavLink class="nav-item" href="coursework">
        <i class="icon-education"></i>
        Coursework
    </NavLink>
    
    <NavLink class="nav-item" href="thoughts">
        <i class="icon-thoughts"></i>
        Thoughts
    </NavLink>
    
    <NavLink class="nav-item" href="papers">
        <i class="icon-papers"></i>
        Papers
    </NavLink>
</div>