@page "/"

<PageTitle>Evan Yeager - Home</PageTitle>

<div class="container home-container">
    <div class="profile-section window">
        <div class="window-body">
            <img src="files/webheadshot.JPG" alt="Evan Yeager" class="profile-image" />
        </div>
    </div>

    <div class="bio-section window">
        <div class="title-bar">
            <div class="title-bar-text">About</div>
        </div>
        <div class="window-body">
            <h1>Evan Yeager</h1>
            <p>Berkeley EECS undergrad</p>
            <p>I experience dunning-kreuger on an hourly basis</p>
        </div>
    </div>

    <div class="contact-section window">
        <div class="title-bar">
            <div class="title-bar-text">Contact</div>
        </div>
        <div class="window-body">
            <ul>
                <li><strong>Email:</strong> <a href="mailto:yeager@berkeley.edu">yeager@berkeley.edu</a></li>
                <li><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/evanyeager" target="_blank">in</a></li>
                <li><strong>GitHub:</strong> <a href="https://github.com/yeager620" target="_blank">yeager620</a></li>
                <li><strong>HuggingFace:</strong> <a href="https://huggingface.co/totalorganfailure" target="_blank">totalorganfailure</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container general-container">

<div class="thinking-section window">
  <div class="title-bar">
    <div class="title-bar-text">Some things im currently thinking about</div>
  </div>
  <div class="window-body">
    <ul>
      @foreach (var thought in currentThoughts)
      {
        <li>@thought</li>
      }
    </ul>
  </div>
</div>

@code {
  private List<string> interests = new()
  {
    "Machine Learning",
    "Control Theory",
    "Derivatives Trading",
    "Distributed Systems",
    "Data Pipelines",
    "Automata Theory",
    ""
  };
}

@code {
  private List<string> currentThoughts = new()
  {
    "Deploying models on embedded devices",
    "Mathematics-informed LLMs / Proof Assistants",
    "HDL Compilers",
    "Graph Attention Networks",
    "Latent space topology",
  };
}

</div>
