@page "/thoughts"
<PageTitle>Thoughts</PageTitle>

<div class="blog-list">
    @foreach (var post in posts) 
    {
        <article class="blog-entry">
            <h2>@post.Title</h2>
            <time datetime="@post.Date.ToString("yyyy-MM-dd")">
                @post.Date.ToString("MMMM dd, yyyy")
            </time>
            <p>@post.Summary</p>
        </article>
    }
</div>

@code {
    public record BlogPost(string Title, DateTime Date, string Summary, string Link);

    private List<BlogPost> posts = new()
    {
        new("Religious arguments in computer science", DateTime.Parse("2025-05-01"),
            "Prologue: Although I think about Terry Davis often, this is not about religion. Much of what I say here is going to come off as obvious. Slight bit of autobiography. ",
            ""),
        new("Programming languages", DateTime.Parse("2025-04-31"),
            "I am perhaps the one millionth person to say this but \"what is the best programming language?\" is an ill-posed question. This is actually quite close to asking \"what is the best (human) language?\"",
            ""),
        new("IDEs", DateTime.Parse("2025-04-30"),
            "JetBrains is essentially the ferrari of IDEs, awesome when it works but extremely unreliable. In this analogy VSCode is the analog of a 98 toyota corolla. (Rider deleted my entire repo like 12s ago because the Jetbrains devs apparently couldnt care less about MacOS support for .NET dev.)",
            ""),
        new("React ruined UI", DateTime.Parse("2025-04-29"),
            "most of the time i cant be bothered with frontend / full stack dev but yeah basically title. React is the software equivalent of the 5-over-1 residential architecture, or the \"modern mcdonalds\" of commercial architecture.",
            "")
    };
}